*.audit
*.bnd
*.eio
*.end
*.eso 
*.mdd
*.mtd
*.mtr
*.rdd
*.shd
*.htm
*.dxf
eplusssz.csv
epluszsz.csv
*.rb
*.DS_Store
*.osm
*.osw
*.skp
*.sql

**/weather
**/rosseRoomModel
**/figures
**/archives



**/__pycache__

**/.ipynb_checkpoints